
<div class="cart box_1">
    <a href="@Url.">
        <h3>
            <div class="total">
                <span class="simpleCart_Total"></span> (<Span id="simpleCart_quantity" class="simpleCart_quantity"></Span> sp)
                </div>>
            <img src="~/image/" alt="" />
        </h3>
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")"; class="simpleCart_empty">Gio Hang</a></p>
</div>


