@model QuanLyThuVien.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="profile-card js-profile-card">
        <div class="profile-card__img">
            <img src="~/images/avatar.png" alt="profile card">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">
                <a style="text-decoration: none; color: black;" href="~/NhanViens/Details?id=@Model.MaNV">
                    @Html.DisplayFor(model => model.NhanVien.Hoten) 
                </a>
            </div>
            <div class="profile-card__txt">Mã Nhân viên: <strong>@Html.DisplayFor(model => model.MaNV)</strong> </div>
            <div class="profile-card__txt">Tài Khoản: <strong>@Html.DisplayFor(model => model.Username)</strong> </div>
            <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                    <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                </span>
                <span class="profile-card-loc__txt">
                    @{
                        if (Model.LoaiTK == "AD")
                        {
                            <strong>ADMIN</strong>

                        }
                        else if (Model.LoaiTK == "TT")
                        {
                            <strong>Thủ thư</strong>
                        }
                        else
                        {
                            <strong>Nhân viên Thư viện</strong>
                        }

                    }
                    @*@Html.DisplayFor(model => model.LoaiTK)*@
                </span>
            </div>



            <div class="profile-card-ctr">
                @if (Session["Role"] != null && Session["Role"].ToString() == "AD")
                {
                    <a class="profile-card__button button--orange" href="~/TaiKhoans/Edit?id=@Model.MaNV">Chỉnh sửa</a>
                    <a class="profile-card__button button--blue" href="~/TaiKhoans/Index">Trở về</a>

                }
                <a class="profile-card__button button--blue" href="~/Dashboard/Dashboard">Trở về</a>
            </div>

        </div>

        <div class="profile-card-message js-message">
            <form class="profile-card-form">
                <div class="profile-card-form__container">
                    <textarea placeholder="Say something..."></textarea>
                </div>

                <div class="profile-card-form__bottom">
                    <button class="profile-card__button button--blue js-message-close">
                    </button>

                    <button class="profile-card__button button--gray js-message-close">
                        Cancel
                    </button>
                </div>
            </form>

            <div class="profile-card__overlay js-message-close"></div>
        </div>

    </div>

</div>




<script>
    var messageBox = document.querySelector('.js-message');
    var btn = document.querySelector('.js-message-btn');
    var card = document.querySelector('.js-profile-card');
    var closeBtn = document.querySelectorAll('.js-message-close');

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        card.classList.add('active');
    });

    closeBtn.forEach(function (element, index) {
        console.log(element);
        element.addEventListener('click', function (e) {
            e.preventDefault();
            card.classList.remove('active');
        });
    });
</script>
