
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    body {
        background-image: url("../../Images/home-background.jpg");
    }
</style>

<div class="container-fluid" style="text-decoration:none;">
    <a href="/Users/Login" style="text-decoration:none;">Đăng nhập</a>
    <br />
    <a href="#" style="text-decoration:none;">Tìm sách</a>
    <br />
    <a href="/Home/XemLichSu" style="text-decoration:none;">Lịch sử mượn sách</a>
</div>

