
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    body {
        background-image: url("../../Images/home-background.jpg");
        
    }
    
</style>

<div class="container-fluid" style="text-decoration:none; text-align: center; margin-top: 20%">
    <h1 style="color:aliceblue"> H-LIBRARY</h1>
    <a href="Home/XemSach" type="button" class="btn btn-outline-light" >
        Xem sách
    </a>
    <a href="Home/Dangnhap" type="button" class="btn btn-outline-light" >
        Xem lịch sử mượn sách
    </a>
</div>

