body {
    display: block;
    margin: 0
}

body, html {
    height: 100%;
    background-color: #f6f5fb;
    scrollbar-base-color: #cfd3de #f6f5fb;
}

    body::-webkit-scrollbar, html::-webkit-scrollbar {
        width: .5rem;
        height: .5rem
    }

    body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
        background: #cfd3de;
        border-radius: 20px
    }

    body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
        background: #f6f5fb
    }

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
    body, html {
        scrollbar-face-color: #cfd3de;
        scrollbar-track-color: #f6f5fb;
        scrollbar-arrow-color: #929baa
    }
}


#app, #root{
    height:inherit;
}

div, aside, nav{
    display: block;
}

.layout {
    position: relative;
}
.menu-sidepanel {
        top: 0;
    height: 100%;
    position: fixed;
    background-color: #fff;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    -webkit-box-shadow: 0 25px 35px 0 rgba(0,0,0,.18);
    box-shadow: 0 25px 35px 0 rgba(0,0,0,.18);
    z-index: 230;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

@media(min-width: 0px) {
    .menu-sidepanel {
        width: 0
    }
}

@media(min-width: 800px) {
    .menu-sidepanel {
        width: 16rem
    }
}

@media(min-width: 0px) {
    .menu-sidepanel.toggled {
        width: 16rem
    }
}

@media(min-width: 800px) {
    .menu-sidepanel.toggled {
        width: 5.2rem
    }
}

.navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    height: inherit;
    overflow: hidden;
}
